body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: courier;
  font-size: 1vw;
}

image {
  width: 100%;
}

.bb-image-container {
  position: fixed;
  width: 70%;
  top: 15%;
  margin: 0 15%;
}

.bb-image {
  width: 100%;
}
