body {
  position: relative;
  margin: 0;
  width: 100%;
  height: 100%;
  font-family: courier;
  font-size: 1vw;
  padding-bottom: 6rem;
  min-height: 100%;
}

image {
  width: 100%;
}

a {
  text-decoration: none;
  color: black;
}

a:visited {
  color: black;
}

.bb-image {
  position: fixed;
  top: 15%;
  width: 40%;
  margin: 0 30%;
}

.bb-content {
  padding-bottom: 5rem;
}

.bb-page {
  position: relative;
  min-height: 100vh;
}


/* Mobile View */

@media only screen and (min-device-width: 320px) and
(max-device-width: 480px) and
(-webkit-min-device-pixel-ratio: 2) {

  .bb-image {
    position: fixed;
    top: 25%;
    width: 70%;
    margin: 0 15%;
  }

}
