body {
  position: relative;
  margin: 0;
  width: 100%;
  height: 100%;
  font-family: courier;
  font-size: 1vw;
  padding-bottom: 6rem;
  min-height: 100%;
}

image {
  width: 100%;
}

a {
  text-decoration: none;
  color: black;
}

a:visited {
  color: black;
}

.bb-loading-animation {
  position: fixed;
  width: 100%;
  length: 1000px;
  z-index: -1;
  animation-name: loading;
  animation-duration: 3s;
  animation-fill-mode: forwards;
}

.bb-background-color {
  background-color: white;
  width: 1000px;
  length: 1000px;
  z-index: 98;
}

.bb-loading {
  position: absolute;
  top: 25%;
  width: 40%;
  margin: 0 30%;
}

.bb-loading-text {
  position: fixed;
  top: 60%;
  width: 10%;
  margin: 0 45%;
  text-align: center;
  animation-name: flashing-text;
  animation-iteration-count: infinite;
  animation-duration: 1s;
}

@keyframes flashing-text {
  50% {
    color: white;
  }
  100% {
    color: black;
  }
}

@keyframes loading {
  0% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes shop {
  0% {
    opacity: 0;
  }
  90% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.bb-shop {
  opacity: 0;
  animation-name: shop;
  animation-duration: 3.5s;
  animation-fill-mode: forwards;
}

.bb-marquee-container {
  position: fixed;
  top: 2%;
  left: 2%;
  width: 20%;
  z-index: 2;
}

.bb-image {
  position: fixed;
  top: -2%;
  right: 2%;
  width: 10%;
  z-index: 3;
}

.bb-product-container-one {
  position: absolute;
  width: 80%;
  top: 15%;
  margin: 0% 10%;
  background-color: white;
}

.bb-product-container-two {
  position: absolute;
  width: 80%;
  top: 60%;
  margin: 0% 10%;
  background-color: white;
}

.bb-product-container-three {
  position: absolute;
  width: 80%;
  top: 105%;
  margin: 0% 10%;
  padding-bottom: 100px;
  background-color: white;
}

.bb-product {
  position: relative;
  float: left;
  display: block;
  width: 33.3%;
}

.bb-product--front {
  position: relative;
  z-index: 2;
  background-color: white;
}

.bb-product--back {
  position: absolute;
  z-index: 1;
}

.bb-product--front:hover {
  opacity: 0;
}

.bb-product--left {
  left: 0;
}

.bb-product--middle {
  left: 33.33%;
}

.bb-product--right{
  left: 66.66%;
}

.bb-content {
  padding-bottom: 5rem;
}

.bb-page {
  position: relative;
  min-height: 100vh;
}

.footer {
  position: fixed;
  bottom: 2%;
  width: 100%;
  height: 2.5rem;
  z-index: 10;
}

.bb-footer-container{
  width: 80%;
  bottom: 2%;
  margin: 0% 10%;
}

.bb-footer {
  text-align: center;
  float: left;
}

.bb-footer--left {
  width: 33.3%;
}

.bb-footer--middle {
  width: 33.3%;
}

.bb-footer--right {
  width: 33.3%;
}

/* Mobile View */

@media only screen and (min-device-width: 320px) and
(max-device-width: 480px) and
(-webkit-min-device-pixel-ratio: 2) {

  .bb-loading {
    position: fixed;
    top: 25%;
    width: 70%;
    margin: 0 15%;
  }

  .bb-loading-text {
    font-size: 3vw;
    text-align: center;
    width: 30%;
    margin: 0 35%;
    top: 60%;
  }

  .bb-marquee-container {
    position: fixed;
    top: 2.5%;
    left: 10%;
    width: 60%;
    z-index: 2;
    font-size: 3vw;
  }

  .bb-image {
    position: fixed;
    top: -2.5%;
    right: 5%;
    width: 20%;
    z-index: 3;
  }

  .bb-product-container-one {
    position: absolute;
    width: 80%;
    top: 25%;
    margin: 0% 10%;
    background-color: white;
  }

  .bb-product-container-two {
    position: absolute;
    width: 80%;
    top: 40%;
    margin: 0% 10%;
    background-color: white;
  }

  .bb-product-container-three {
    position: absolute;
    width: 80%;
    top: 55%;
    margin: 0% 10%;
    padding-bottom: 100px;
    background-color: white;
  }

  .bb-product {
    position: relative;
    float: left;
    display: block;
    width: 33.33%;
  }

  .bb-product--back {
    display: none;
  }

  .bb-product--front:hover {
    opacity: 1;
  }

  .footer {
    position: fixed;
    bottom: 5%;
    width: 100%;
    height: 1rem;
    font-size: 3vw;

  }

}
