body {
  position: relative;
  margin: 0;
  width: 100%;
  height: 100%;
  font-family: courier;
  font-size: 1vw;
  padding-bottom: 6rem;
  min-height: 100%;
}

image {
  width: 100%;
}

a {
  text-decoration: none;
  color: black;
}

a:visited {
  color: black;
}

.bb-marquee-container {
  position: fixed;
  top: 2%;
  left: 2%;
  width: 20%;
  z-index: 2;
}

.bb-image {
  position: fixed;
  top: 0%;
  right: 2%;
  width: 10%;
  z-index: 3;
}

.bb-product-container-one {
  position: absolute;
  width: 80%;
  top: 15%;
  margin: 0% 10%;
  background-color: white;
}

.bb-product-container-two {
  position: absolute;
  width: 80%;
  top: 60%;
  margin: 0% 10%;
  background-color: white;
}

.bb-product-container-three {
  position: absolute;
  width: 80%;
  top: 105%;
  margin: 0% 10%;
  padding-bottom: 100px;
  background-color: white;
}

.bb-product {
  position: relative;
  float: left;
  display: block;
  width: 33.3%;
}

.bb-product--front {
  position: relative;
  z-index: 2;
  background-color: white;
}

.bb-product--back {
  position: absolute;
  z-index: 1;
}

.bb-product--front:hover {
  opacity: 0;
}

.bb-product--left {
  left: 0;
}

.bb-product--middle {
  left: 33.33%;
}

.bb-product--right{
  left: 66.66%;
}

.bb-content {
  padding-bottom: 5rem;
}

.bb-page {
  position: relative;
  min-height: 100vh;
}

.footer {
  position: absolute;
  bottom: -70%;
  width: 100%;
  height: 2.5rem;
}

.bb-footer-container{
  width: 80%;
  bottom: 2%;
  margin: 0% 10%;
}

.bb-footer {
  text-align: center;
  float: left;
}

.bb-footer--left {
  width: 33.3%;
}

.bb-footer--middle {
  width: 33.3%;
}

.bb-footer--right {
  width: 33.3%;
}

/* Mobile View */

@media only screen and (max-width: 425px){

  .bb-marquee-container {
    position: fixed;
    top: 2%;
    left: 10%;
    width: 80%;
    z-index: 2;
    font-size: 3vw;
  }

  .bb-image {
    display: none;
  }

  .bb-product-container-one {
    position: absolute;
    width: 80%;
    top: 25%;
    margin: 0% 10%;
    background-color: white;
  }

  .bb-product-container-two {
    position: absolute;
    width: 80%;
    top: 40%;
    margin: 0% 10%;
    background-color: white;
  }

  .bb-product-container-three {
    position: absolute;
    width: 80%;
    top: 55%;
    margin: 0% 10%;
    padding-bottom: 100px;
    background-color: white;
  }

  .bb-product {
    position: relative;
    float: left;
    display: block;
    width: 33.33%;
  }

  .bb-product--back {
    display: none;
  }

  .bb-product--front:hover {
    opacity: 1;
  }

  .footer {
    position: absolute;
    bottom: 2%;
    width: 100%;
    height: 1rem;
    font-size: 3vw;

  }

}
