body {
  margin: 0;
  width: 100%;
  height: 100%;
  font-family: courier;
  font-size: 1vw;
}

image {
  width: 100%;
}

a {
  text-decoration: none;
  color: black;
}

a:visited {
  color: black;
}

.bb-marquee-container {
  position: fixed;
  top: 2%;
  left: 2%;
  width: 20%;
  z-index: 2;
}

.bb-image {
  position: fixed;
  top: 0%;
  right: 2%;
  width: 10%;
  z-index: 2;
}

.bb-logo-container {
  position: absolute;
  width: 20%;
  top: 2%;
  margin: 0 40%;
}

.bb-logo {
  width: 100%;
}

.bb-terms-container {
  position: absolute;
  width: 40%;
  top: 10%;
  margin: 0% 30%;
  z-index: 1;
  padding-bottom: 100px;
}

.bb-footer-container{
  position: fixed;
  width: 80%;
  bottom: 2%;
  margin: 0% 10%;
  z-index: 10;
}

.bb-footer {
  text-align: center;
  float: left;
}

.bb-footer--left {
  width: 33.3%;
}

.bb-footer--middle {
  width: 33.3%;
}

.bb-footer--right {
  width: 33.3%;
}

/* Mobile View */

@media only screen and (min-device-width: 320px) and
(max-device-width: 480px) and
(-webkit-min-device-pixel-ratio: 2) {

  .bb-terms-container {
    position: absolute;
    width: 80%;
    top: 10%;
    margin: 0% 10%;
    z-index: 1;
    padding-bottom: 100px;
    font-size: 3vw;
  }

  .bb-marquee-container {
    position: fixed;
    top: 2%;
    left: 10%;
    width: 80%;
    z-index: 2;
    font-size: 3vw;
  }

  .bb-image {
    display: none;
  }

  .bb-footer-container {
    position: fixed;
    width: 80%;
    bottom: 2%;
    margin: 0% 10%;
    z-index: 10;
    font-size: 3vw;

  }

}
