body {
  margin: 0;
  width: 100%;
  height: 100%;
  font-family: courier;
  font-size: 1vw;
}

image {
  width: 100%;
}

a {
  text-decoration: none;
  color: black;
}

a:visited {
  color: black;
}

.bb-marquee-container {
  position: fixed;
  top: 2%;
  left: 2%;
  width: 20%;
  z-index: 2;
}

.bb-image {
  position: fixed;
  top: 0%;
  right: 2%;
  width: 10%;
  z-index: 2;
}

.bb-product-display {
  position: absolute;
  top: 15%;
  left: 20%;
  width: 30%;
}

.bb-product {
  position: relative;
  width: 100%;
  float: left;
  display: inline-block;
}

.bb-product--gif {
  width: 50%;
  left: 80%;
}

.bb-product-text {
  position: absolute;
  width: 50%;
  top: 20%;
  left: 55%;
}

.bb-footer-container{
  position: fixed;
  width: 80%;
  bottom: 2%;
  margin: 0% 10%;
}

.bb-footer {
  text-align: center;
  float: left;
}

.bb-footer--left {
  width: 33.3%;
}

.bb-footer--middle {
  width: 33.3%;
}

.bb-footer--right {
  width: 33.3%;
}
